.bk-image {
  background-image: linear-gradient(
      100deg,
      rgba(128, 80, 250, 0.801),
      rgba(128, 80, 250, 0.801)
    ),
    url("https://www.surfertoday.com/images/stories/surfinglevel.jpg");

  display: flex;
  flex-direction: column;
  height: 800px;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
}

body {
  width: 100%;
}
.navbar {
  position: fixed;
  z-index: 8;
}

.f-h1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 70px;
  margin: auto;
  text-align: center;
  color: white;
}

.post-right {
  border: 1px solid rgb(240, 239, 239);
  height: 115px;

  margin: 0;
  padding: 0;
  height: 150px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 287px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  height: 100%;
  gap: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.right {
  width: 49%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left {
  width: 49%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: end;
}
.nav {
  z-index: 5;
}

.container-fluid {
  padding: 0;
  background-color: #8050faf1;

  z-index: 10;
}
.marvel p {
  font-size: 8px;
}
.img {
  width: 50px;
  height: 50px;
}
ul li {
  display: flex;
  gap: 5px;
}
ul p {
  margin: 0;
  padding: 0;
}
.marvel {
  background-color: white;
  max-width: 100%;
  flex-wrap: wrap;
  margin-top: -235px;
  height: 70px;
  margin-left: -50px;
  z-index: 0;
  border-radius: 5px;
}
.marvel input {
  border: none;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
.im-1 {
  background-image: url(https://preview.colorlib.com/theme/ruft/img/posts/p1.jpg);
  background-size: cover;
  max-width: 100%;
  height: 300px;
}

.btn-1 {
  border-radius: 20px;
  border: 1px solid rgb(247, 246, 246);
  background-color: #f9f9ff;
  height: 40px;
}
.bottom {
  margin-bottom: 200px;
}

.pos-1:hover h5,
.pos-2:hover h5,
.pos-3:hover h5,
.pos-4:hover h5,
.pos-5:hover h5 {
  color: #8050fa;
  transition: all 0.3 linear;
  cursor: pointer;
}
.pos-1:hover .card-img-top,
.pos-2:hover .card-img-top,
.pos-3:hover .card-img-top,
.pos-4:hover .card-img-top,
.pos-5:hover .card-img-top {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  cursor: pointer;
}
.hid {
  position: relative;
  overflow: hidden;
}

.card-img-top {
  overflow: auto;
}
.bt-size {
  border: none;
  padding: 0;
  margin: 0;
  width: 250px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  padding-left: 5px;
  padding-right: 1px;
  background-color: rgba(240, 240, 240, 0.767);
}
.fa {
  color: white;
  align-items: center;
}
.col {
  background-color: #8050fa;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.post-right {
  width: 60%;

  border: 1px solid rgb(223, 220, 220);
  border-radius: 4px;
}
.pos-2:hover button,
.pos-3:hover button,
.pos-4:hover button,
.pos-5:hover button,
.pos-1:hover button {
  color: white;
  background-color: #8050fa;
  transition: all color 0.3 ease;
  cursor: pointer;
}
.btn-5 {
  border: 1px solid rgb(214, 213, 213);
  border-radius: 17px;
  padding: 5px;
  width: 100px;
}

.coment-2 {
  margin-top: -90px;
  width: 80%;
  height: 200px;
  max-width: 100%;
}
.img-m {
  margin-top: 35px;
  margin-right: 10px;
}
.coment {
  padding: 20px;
  margin-top: -100px;
  background-color: white;
  width: 70%;
}
.marvel span {
  font-size: 10px;
}
.coment2 p {
  margin: 0;
  max-width: 100%;
}
.coment3 {
  width: 90%;
  display: flex;
  margin-left: 56px;
  margin-top: 10px;
}
.min2 {
  width: 17%;
}
.but2 {
  border: 1px solid rgb(209, 208, 208);
  border-radius: 10px;
}
.min2 p {
  font-size: 10px;
}

.img-1 {
  width: 60px;
  height: 60px;
}

.fa-square {
  width: 20px;
  height: 20px;
  background-color: #8050fa;
}
.pp-1:hover h6,
.pp-2:hover h6,
.pp-3:hover h6,
.pp-4:hover h6 {
  color: #8050fa;
  cursor: pointer;
}
.popular p {
  font-size: 12px;
}
.newlist h6 {
  font-size: 13px;
}
.charlie {
  width: 60%;
  color: #919191;
}

.border-charlie {
  width: 60%;

  border: none;
}
.f,
.t,
.bas,
.beh {
  color: #aaa9a9;
}
.f:hover,
.t:hover,
.bas:hover,
.beh:hover {
  cursor: pointer;

  color: #8050fa;
}
.newlist img:hover {
  cursor: pointer;
}
.marvel:hover {
  cursor: pointer;
}
.marvel-p {
  margin-left: -50px;
  margin-top: 10px;
}
.col {
  height: 100%;
}
.categories {
  width: 60%;
  border: 1px solid rgb(218, 218, 218);
  padding: 10px;
  max-width: 100%;
  flex-wrap: wrap;
}
.newlist {
  width: 60%;
  border: 1px solid rgb(218, 218, 218);
  padding: 10px;
  max-width: 100%;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

hr {
  width: 400px;
  flex-direction: column;
  display: flex;
  margin: 0;
  padding-right: 20px;
}

.colort {
  background-color: #8050fa;
}
.hidenn {
  display: none;
}
.footer {
  background-color: rgb(34, 34, 34);
  display: flex;

  width: 100%;
}
.about,
.New,
.instagram {
  width: 20%;
}
.follow {
  width: 10%;
}

.f-finish {
  display: flex;
}
.finish {
  width: 100%;
  height: 50px;
}
.colorlib {
  color: #8050fa;
}

.photo {
  gap: 10px;
  flex-wrap: wrap;

  display: flex;
}
.instagram {
  width: 240px;
}
.instagram img {
  width: 20%;
  height: 20%;
  display: flex;
}

.text a {
  color: white;
  text-decoration: none;
}
.btn-drop {
  color: white;
}
.btn-drop:focus {
  color: #8050fa;
}
.btn-drop:active .arrow {
  transform: rotate(180deg);
}

.drop:invalid {
  color: white;
}
.btnn {
  visibility: hidden;
}
.hidenn {
  display: flex;
}

.hiden1 {
  visibility: hidden;
  position: absolute;
}
.input {
  border: 1px solid rgb(175, 175, 175);
  border-radius: 20px;
  padding: 10px;
  width: 80%;
}
.btn-2 {
  border: 1px solid rgb(175, 175, 175);
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  background-color: #8050fa;
  color: white;
}
.input:focus {
  outline: rgb(175, 175, 175);
}
.btn-2:hover {
  background-color: white;
  color: black;
  border: 1px solid #8050fa;
}
.f-input {
  background-color: black;
  border: none;
  width: 85%;
}
.arrow-in {
  width: 15%;
  background-color: #8050fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name p {
  margin-right: 20px;
  width: 100px;
}
.copyright {
  background-color: #222222;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  width: 100%;
}
.close {
  height: 21px;
}
.res-back {
  visibility: hidden;

  background-color: #8050faf1;
  padding: 50px;
  z-index: 5;
  width: 100%;
  position: fixed;
  height: 50px;
}
.res-coment {
  margin-top: -280px;
  background-color: white;
  position: relative;
  left: -50px;
}
.marvel1 p {
  font-size: 16px;
}
.marvel1 span {
  font-size: 14px;
}
.marvel1 {
  width: 80%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  margin-left: 20px;
}
.m-marvel {
  margin-top: -22px;
  margin-left: -20px;
  position: absolute;
}
.min1 {
  border: none;
}
.min {
  font-size: 14px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1345px) {
  .res-coment {
    margin-top: 0px;
    background-color: white;
    position: relative;
    left: 0px;
  }
  .left {
    width: 95%;
    align-items: center;
    display: flex;
  }
  .coment {
    margin: 0px;
    width: 100%;
    padding: 10px;
  }

  .marvel1 span {
    font-size: 10px;
  }
  .marvel1 p {
    font-size: 10px;
  }
  .min {
    width: 19%;
  }
  .min1 {
    max-width: 100%;
  }
  .min p {
    font-size: 8px;
  }
  .right {
    display: flex;
    width: 95%;
    border: none;
  }
  .card {
    width: 97%;
  }
  .charlie {
    width: 97%;
    border: none;
  }
  .img-charlie {
    width: 50%;
  }

  .bk-image {
    background-position: center;
  }
  .post-right {
    width: 97%;
    padding: 48px;
    box-sizing: border-box;
  }
  .marvel {
    margin-top: 0;
    margin-left: 0;
    margin-top: 25px;
    width: 100%;
  }
  .post-right {
    max-width: 100%;
  }

  .container-fluid {
    display: flex;
  }
  .responsive {
    display: flex;
  }

  .main {
    width: 100%;
    justify-content: center;
  }

  .categories {
    width: 97%;
    margin-bottom: 20px;
  }
  .pp-1,
  .pp-2,
  .pp-3,
  .pp-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .bottom {
    margin-bottom: 100px;
  }
  .newlist {
    width: 97%;
  }
  .footer {
    gap: 50px;
  }
  .coment {
    height: 400px;
    align-items: start;
    padding: 20px;
  }
  .marvel1 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 991px) {
  .hidenn {
    display: none;
  }
  .res-back {
    visibility: visible;
    position: fixed;
  }
  .min {
    width: 18%;
  }

  .min p {
    font-size: 8px;
  }
  .btnn {
    visibility: visible;
    display: flex;
    justify-content: start;
    align-items: start;

    position: fixed;
    margin: 0px;
    z-index: 5;
  }
  .footer {
    gap: 50px;
  }
}
@media screen and (max-width: 468px) {
  .btn-5 {
    height: 30px;
    width: 80px;
    font-size: 8px;

    height: 40px;
    align-items: center;
  }
  .btn-5 p {
    margin: 0;
    padding: 0;
  }
  .min {
    width: 20%;
  }

  .footer {
    gap: 50px;
  }
  .min p {
    font-size: 6px;
  }
  .copyright {
    background-color: #222222;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-left: 20px;

    width: 100%;
  }
}
